<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>AttributedString</string>
     <key>CFBundleIdentifier</key>
     <string>edu.stanford.cs193p.norimasanabeta.AttributedString</string>
     <key>CFBundleVersion</key>
     <string>1.0</string>
     <key>DocSetFeedName</key>
     <string>Stanford cs193p Winter: AttributedString</string>
     <key>DocSetPublisherIdentifier</key>
     <string>edu.stanford.cs193p.norimasanabeta.AttributedString.documentation.</string>
     <key>DocSetPublisherName</key>
     <string>NorimasaNabeta</string>
</dict>
</plist>
